@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:wght@300&display=swap');
#title 
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
}
body
{
    padding: 20px;
    background-color:#cfcece
}
#peatag
{
    color: red;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
#camera
{
    width:500px;
    height:400px;
    border:3px solid black;
}
.result:hover
{
    border-radius: 3rem;
}
#realres
{
    width: 100%;
    height: 100%;
}

.results
{
    width:100%;
    height: 100%;
}
body
{
background-image: linear-gradient( #010029, #0d0357, #002efd, #01fdf9f8, #00e5ff);
}

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <div id="footer"> Developed: Dhruv       Github:Divit-Winner-Fighter</div>
            </div>
